.Footer {
  margin: 80px auto;
  max-width: 400px;
  font-family: "times new roman", times, serif;
  padding: 20px 30px;

  a {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
  }
}
