.Product {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.Product__image {
  border: 3px solid black;
  padding: 7px;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  box-shadow: 9px 9px black;

  img {
    width: 100%;
    display: block;
  }
}

.Product__details {
  display: flex;
  align-items: center;
}

.Product__name {
  font-weight: bold;
  padding-right: 20px;
}

.Product__price {
  font-size: 0.8em;
  font-weight: normal;
  color: #555;
}

.Product__buy {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  background: black;
  padding: 10px 20px;
  color: white;
  position: relative;
  font-weight: bold;
}

@keyframes cross-1 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))}{
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px) rotate((30 - random(60)) + deg);
      width: (1 + random(3)) + px;
    }
  }
}

@keyframes cross-2 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))}{
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px) rotate((30 - random(60)) + deg);
      height: (1 + random(2)) + px;
    }
  }
}
